<div class="backdrop" (click)="onCancel()"></div>
<dialog open>
  <h2>Adicionar Tarefa</h2>
  <form (ngSubmit)="onSubmit()">
    <p>
      <label for="title">Título</label>
      <input
        [(ngModel)]="enteredTitle"
        type="text"
        id="title"
        name="title" />
    </p>

    <p>
      <label for="summary">Resumo</label>
      <textarea
        [(ngModel)]="enteredSummary"
        id="summary"
        rows="5"
        name="summary"></textarea>
    </p>

    <p>
      <label for="due-date">Data de vencimento</label>
      <input
        [(ngModel)]="enteredDate"
        type="date"
        id="due-date"
        name="due-date" />
    </p>

    <p class="actions">
      <button
        type="button"
        (click)="onCancel()">Cancelar</button>
      <button type="submit">Criar</button>
    </p>
  </form>
</dialog>